header {
    background-color: aliceblue;
    padding: 10px;
    font-size: 18px;
    nav{
        display: flex;
        gap: 10px;
        
        >*{
            cursor: pointer;
        }
    }
}