header {
    background-color: aliceblue;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    nav{
        display: flex;
        gap: 15px;

        >*{
            cursor: pointer;
        }
        span.active{
            color: lightgreen;
        }
    }
    img{
        cursor: pointer;
        width: 40px;
    }
}