.show-time {
  background-color: aqua;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  font-size: 20px;
  flex-direction: column;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.dark {
    background-color: darkblue;
    color: aliceblue;
  }
}


