.who-watch-preview {
    background-color: rgb(88, 204, 215);
    width: 250px;
    display: flex;
    flex-direction: column;
    transition: transform .2s;
    position: relative;
    justify-content: center;
    text-align: center;

    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }

    span {
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .user-content {
        justify-content: space-around;
        padding: 20px 0;
        align-items: center;
        height: 100%;
    }
}