<section class="app">
  <header>
    <nav>
      <span (click)="toggleWatchPage()" [class]="isWatchPage ? '' : 'active'">Home</span>
      <span (click)="toggleWatchPage()" [class]="isWatchPage ? 'active' : ''">Watcher</span>
    </nav>
  </header>
  <section *ngIf="!isWatchPage" class="home">
    <h1>welcome home</h1>
    <show-time></show-time>
    <count-down [countDown]="countDown" (due)="endCountDown()"></count-down>
    <show-coords></show-coords>
  </section>
  <who-watch *ngIf="isWatchPage"></who-watch>
</section>
